.heading{
    background-color: rgb(129, 211, 211);
    margin-top: 6px;
    text-align: center;
    height: 300px;

}
#abouthead{
    background-color: brown;
    color: white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
#intro{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
}
#link{
    text-decoration: none;
    margin-left: 20px;
}